<h1> Edit book </h1>

<%= form_with model: @book do |form| %>
    <%= form.text_field :name, placeholder: 'Name' %>
    <%= form.number_field :price, placeholder: 'Price' %>
    <%= form.number_field :author_id, placeholder: 'Author id' %>
    <%= form.submit %>
<% end %> 
